@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.l-card {
  display: flex;
  margin: 20px;
  padding: 10px;
  color: black;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
  gap: 50px;
  &__c-card {
    &--left {
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &--right {
      padding: 20px;
      padding-left: 40px;
      width: 50%;
      position: relative;
      font-weight: bold;
    }
    &--right::after {
      content: "";
      width: 3px;
      height: 180%;
      position: absolute;
      top: 0;
      left: 0;
      background: red;
      transform: translateX(-50%);
    }
    &--right::before {
      content: "";
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      background: green;
      transform: translateX(-50%);
      z-index: 1;
    }
  }
}
.text {
  &__date {
    font-weight: 800;
  }
  &__info {
    font-weight: 800;
  }
}
